.chat-side
  .side-header
    %p.side-header__user-name
      test2
    .user-menu
      =link_to "https://www.twitter.com/", class: "user-menu__edit-user fa-fw" do
        = fa_icon 'edit' 
      =link_to "https://www.facebook.com/", class: "user-menu__new-group fa-fw" do
        = fa_icon 'cog'
  .groups
    .group
      .group__name
        testgroup
      .group__latestmessage
        text
    .group
      .group__name
        test2
      .group__latestmessage
        text2