.flash-box
  グループを作成しました
.wrapper
  = render partial: 'chat-side'

  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          testgroup
        %ul.main-header__left-box__member-lists
          Member：
          %li.main-header__left-box__member-lists__list
            田中
          %li.main-header__left-box__member-lists__list
            山田
          %li.main-header__left-box__member-lists__list
            坂本
      =link_to "https://www.twitter.com/",class: "right-header" do
        .right-header__button
          Edit
    .messages
      .message
        .message__uper-info
          %p.message__uper-info__talker
            test-user
          %p.message__uper-info__date
            2019/6/10/18:56:10
        %p.message__text
          こんにちは！
      .message
        .message__uper-info
          %p.message__uper-info__talker
            test-user
          %p.message__uper-info__date
            2019/6/10/18:56:10
        %p.message__text
          こんにちは！
    .form
      %form
        %input.form__message{placeholder: "type a message"}
        .form__image-box
          %label.form__image-box__image
            = fa_icon 'picture-o'
            %input.hidden{type: 'file',accept: "image/png, image/jpeg"}
        %input.form__submit{type: 'submit', value: 'Send'}